<?xml version='1.0'?>

<launch>
    <!-- Input Arguments -->
    <arg name="confidence_threshold" default="0.5" />
    <arg name="iou_threshold" default="0.6" />
    <arg name="model_path" default="/src/yolov5" />
    <arg name="weights_path" default="/model/bestv8nv2.pt" />
    <arg name="classes_path" default="/perception_pkg/model/data.yaml" />
    
    <node pkg="perception_pkg"  name="object_detection" type="object_detection_v8.py" output="screen">
        <param name="confidence_threshold" value="$(arg confidence_threshold)" />
        <param name="iou_threshold" value="$(arg iou_threshold)" />
        <param name="model_path" value="$(arg model_path)" />
        <param name="weights_path" value="$(arg weights_path)" />
        <param name="classes_path"  value="$(arg classes_path)" />
    </node>
</launch>
